

.chat-messages-container::-webkit-scrollbar {
    width: 8px;
}
.chat-messages-container::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}
.chat-messages-container::-webkit-scrollbar-thumb {
    background-color: #10a37f;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
}
.chat-messages-container::-webkit-scrollbar-thumb:hover {
    background-color: #0d8667;
}

/* Сообщения */
.message {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 16px;
    line-height: 1.4;
    white-space: pre-wrap;
    animation: fadeIn 0.3s ease;
    color: #eaeaea;
    word-break: break-word;

    /* Добавляем отступ сверху и снизу */
    margin: 8px 0;   /* 8px сверху и снизу, 0 — слева и справа */
}
.message.user {
    background-color: #3a3a3a;
    align-self: flex-end; /* справа */
}
.message.bot {
    background-color: #2b2b2b;
    align-self: flex-start; /* слева */
}
