/* Контейнер для поля ввода и кнопки */
.input-area {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

/* Поле ввода сообщений */
.input-area textarea {
    flex: 1;
    font-size: clamp(12px, 16px, 16px);
    resize: none;
    border-radius: 12px;
    border: none;
    background-color: #252525;
    color: white;
    font-family: "Segoe UI", sans-serif;
    padding-top: 12px;

    /* плавное изменение высоты */
    transition: height 0.3s ease;
    overflow-y: auto;
    max-height: 200px;
    min-height: 50px;
}

/* скрыть стандартный скролл */
.input-area textarea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Убирать синюю рамку при фокусе на textarea */
.input-area textarea:focus {
    outline: none;
}

/* Кнопка отправки */
.input-area button {
    background-color: #4682B4;
    max-width: 40%;
    border: none;
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    font-size: clamp(12px, 16px, 16px);
    transition: all 0.3s ease;  /* Плавное изменение */

    /* Центрирование текста */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-area button:hover {
    background: #345c8f;
}

/* Обёртка всей input-области (textarea + кнопка), фиксированная внизу экрана */
.chat-input-container {
    position: fixed;
    left: 50%;
    width: 100%;
    max-width: 50%;
    background-color: #252525;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    z-index: 1000;
    animation: fadeIn 0.7s ease-in;
    transition: all 0.5s ease;
    top: auto;
    bottom: 10vh;
    transform: translateX(-50%);
}

/* Адаптивность: для планшетов и телефонов */
@media (max-width: 1024px) {
    .chat-input-container {
        max-width: 90%;
        padding: 5px;
    }

    .input-area button {
        max-width: 30%;
        font-size: 14px;
    }

    .input-area textarea {
        font-size: 14px;
        padding-top: 14px;
    }
}
